@font-face {
  font-family: Roboto;
  src: url("/fonts/Roboto-Medium.ttf") format("truetype");
}

/* Tools */
.un-skew {
  transform: skew(20deg);
}

.skew {
  transform: skew(-20deg);
}

/* Layout */
html,
body {
  box-sizing: border-box;
  font-family:
    Roboto,
    sans-serif;
  font-size: small;
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
