/* Navigation bar */
.nav-wrapper {
  /* background-color: aqua; */
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: sticky;
  left: 0;
  z-index: 100;
}

.nav {
  /* @include shadow-box; */
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  font-size: x-small;
  align-items: center;
  align-content: center;
  font-family:
    "Saira Semi Condensed",
    sans-serif;
}

.nav-block {
  display: flex;
  margin: 0.3em;
  flex-flow: row nowrap;
  flex-grow: 1;
}

.right {
  justify-content: flex-end;
}

.home-link-span {
  font-size: larger;
}

.nav-link-span {
  padding-left: 1em;
  padding-right: 1em;
}

.nav-link {
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(45deg, #57baf8, #7758ff);
  color: #fff;
  text-decoration: none;
  padding: 0.3em;
  margin: 0.1em;
}
