/* Footer */
footer.page-footer {
  place-content: center space-around;
  align-items: center;

  /* background: linear-gradient(45deg, #57baf8, #7758ff); */
  background-color: white;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  font-size: xx-small;
  position: sticky;
  width: 100%;
}

footer.page-footer span {
  background: linear-gradient(45deg, #57baf8, #7758ff);
  color: #fff;
  display: flex;

  /* flex-grow: 1; */
  justify-content: space-around;
  margin: 0.1em;
  padding: 0.3em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.page-footer {
  color: white;
  flex-grow: 0;
  flex-shrink: 0;
}
