/* Footer */
footer.page-footer {
  /* background: linear-gradient(45deg, #57baf8, #7758ff); */
  background-color: white;
  position: sticky;
  width: 100%;
  bottom: 0;
  font-size: xx-small;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

footer.page-footer span {
  /* flex-grow: 1; */
  justify-content: space-around;
  display: flex;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(45deg, #57baf8, #7758ff);
  color: #fff;
  text-decoration: none;
  padding: 0.3em;
  margin: 0.1em;
}

.page-footer {
  color: white;
  flex-grow: 0;
  flex-shrink: 0;
}
