.page-body {
  align-items: center;
  /* background-color: blue; */
  flex-grow: 1;
  justify-content: center;
  padding: 1em;
}

.page-content {
  background-color: white;
  display: flex;
  margin: auto;
  min-width: 50%;
  padding: 1em;
}

.page-content-inner {
  margin: auto;
}
