body {
  background-color: green;
  margin: 5px;
  padding: 3em;
  /* box-sizing: border-box; */
}

.header {
  background-color: aqua;
}

.content {
  background-color: red;
}

footer {
  background-color: blue;
}
